In [1]:
import pandas as pd
import html5lib

In [2]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/1.html'
dfs = pd.read_html(url,header=0)
df = pd.concat(dfs)
df = df.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df.rename(columns={"January": "Month","2018":"Year"},inplace=True)
values = {'Month': 'Jan','Year':'2018'}
df = df.fillna(value=values)

df = df[:31]
df.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,o,88,NaN,Jan,0,NaN,1014.5,NaN,12.2,23.9,NaN,5.7,0.7,-,5.4,0.3,NaN
1,2018,2,o,89,NaN,Jan,0,NaN,1015.3,NaN,11.8,20.1,NaN,8.4,2.8,-,9.4,0.3,NaN
2,2018,3,o,85,NaN,Jan,0,NaN,1015.6,NaN,11.3,18.2,NaN,6.7,3.5,-,9.4,0.6,NaN
3,2018,4,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/2.html'
dfs = pd.read_html(url,header=0)
df1 = pd.concat(dfs)

df1 = df1.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df1.rename(columns={"February": "Month","2018":"Year"},inplace=True)
values = {'Month': 'Feb','Year':'2018'}
df1 = df1.fillna(value=values)

df1 = df1[:28]
df1

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,Month,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,Feb,69,NaN,0,NaN,1013.9,NaN,18.7,27.2,NaN,11,3,-,13,1.4,NaN
1,2018,2,NaN,Feb,69,NaN,0,NaN,1012.7,NaN,17.7,27.8,NaN,10.5,3.7,-,14.8,1.6,NaN
2,2018,3,NaN,Feb,57,NaN,0,NaN,1015.4,NaN,16,26.5,NaN,9.3,4.4,-,13,1.4,NaN
3,2018,4,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2018,6,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018,7,NaN,Feb,55,NaN,0,NaN,1014.6,NaN,15,23.6,NaN,8.5,7.4,-,22.2,1.4,NaN
7,2018,8,NaN,Feb,61,NaN,0,NaN,1013.8,NaN,13.9,24.1,NaN,5.5,1.7,-,9.4,1.6,NaN
8,2018,9,NaN,Feb,59,NaN,0,NaN,1014.4,NaN,14.6,24,NaN,6.1,2.2,-,7.6,1.3,NaN
9,2018,10,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2018,11,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2018,12,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2018,13,NaN,Feb,75,NaN,0,NaN,1022.5,NaN,16.4,23.4,NaN,9,5.2,-,14.8,1.6,NaN
13,2018,14,NaN,Feb,63,NaN,0,NaN,1021.6,NaN,16.4,23.5,NaN,10.2,11.1,-,25.9,1.8,NaN
14,2018,15,NaN,Feb,66,NaN,0,NaN,1019.6,NaN,17.5,23.4,NaN,11.6,9.8,-,25.9,2.4,NaN
15,2018,16,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2018,17,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2018,18,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2018,19,NaN,Feb,60,NaN,0,NaN,1013.9,NaN,18.1,26.6,NaN,10,3.3,-,18.3,1.6,NaN
19,2018,20,NaN,Feb,62,NaN,0,NaN,1012.9,NaN,19,28.2,NaN,10.1,4.4,-,14.8,2.1,NaN
20,2018,21,NaN,Feb,59,NaN,0,NaN,1010.5,NaN,21.5,31.2,NaN,12.5,1.5,-,5.4,1.8,NaN
21,2018,22,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2018,23,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2018,24,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2018,25,NaN,Feb,65,NaN,0,NaN,1015.4,NaN,22.5,31.6,NaN,17,7.4,-,16.5,1.9,NaN
25,2018,26,NaN,Feb,64,NaN,0,NaN,1012.8,NaN,21.1,29.4,NaN,14.5,11.3,-,25.9,2.6,NaN
26,2018,27,NaN,Feb,65,NaN,0,NaN,1012.6,NaN,22.3,29.8,NaN,15.4,6.3,-,24.1,1.9,NaN
27,2018,28,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/3.html'
dfs = pd.read_html(url,header=0)
df2 = pd.concat(dfs)
df2 = df2.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df2.rename(columns={"March": "Month","2018":"Year"},inplace=True)
values = {'Month': 'Mar','Year':'2018'}
df2 = df2.fillna(value=values)

df2 = df2[:31]
df2.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,62,NaN,Mar,0,NaN,1010.8,NaN,21.7,30.7,NaN,14.9,1.7,-,7.6,1.6,NaN
1,2018,2,NaN,58,NaN,Mar,0,NaN,1009,NaN,22.9,31,NaN,15.5,3.9,-,14.8,2.3,NaN
2,2018,3,NaN,53,NaN,Mar,0,NaN,1006.9,NaN,24.1,32.3,NaN,16.6,2,-,9.4,2.1,NaN
3,2018,4,NaN,NaN,NaN,Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,NaN,NaN,Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/4.html'
dfs = pd.read_html(url,header=0)
df3 = pd.concat(dfs)
df3 = df3.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df3.rename(columns={"April": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Apr','Year':'2018'}
df3 = df3.fillna(value=values)

df3 = df3[:30]
df3.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Month,Day,FG,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,Apr,1,NaN,52,NaN,0,NaN,1008.6,NaN,27.8,34.8,NaN,20,6.1,-,11.1,2.7,NaN
1,2018,Apr,2,NaN,53,NaN,0,NaN,1009,NaN,27.6,36.2,NaN,20.8,4.8,-,11.1,2.6,NaN
2,2018,Apr,3,NaN,49,NaN,0,NaN,1007.2,NaN,29.4,38.2,NaN,21.4,2.6,-,5.4,2.6,NaN
3,2018,Apr,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,Apr,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/5.html'
dfs = pd.read_html(url,header=0)
df4 = pd.concat(dfs)

df4 = df4.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df4.rename(columns={"May": "Month","2018":"Year"},inplace=True)

values = {'Month': 'May','Year':'2018'}
df4 = df4.fillna(value=values)

df4 = df4[:31]
df4.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,52,NaN,May,0,NaN,1003.4,NaN,31.7,40,NaN,26.5,10,-,14.8,2.7,NaN
1,2018,2,NaN,59,NaN,May,12.95,o,1004.7,NaN,28.8,37.6,NaN,20.2,13.7,68.3,31.3,1.6,NaN
2,2018,3,NaN,52,NaN,May,0,NaN,1005.8,NaN,29.6,34.2,NaN,25,10,-,14.8,1.9,NaN
3,2018,4,NaN,NaN,NaN,May,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,NaN,NaN,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/6.html'
dfs = pd.read_html(url,header=0)
df5 = pd.concat(dfs)

df5 = df5.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df5.rename(columns={"June": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Jun','Year':'2018'}
df5 = df5.fillna(value=values)

df5 = df5[:30]
df5.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,50,NaN,Jun,0,NaN,1000.7,NaN,34.6,42.1,NaN,28.4,12.8,-,33.5,2.6,NaN
1,2018,2,NaN,53,NaN,Jun,0,NaN,1001.6,NaN,32.3,42,NaN,26.6,12,-,18.3,2.7,NaN
2,2018,3,NaN,56,NaN,Jun,0,NaN,998.6,NaN,34,39.2,NaN,27.7,9.6,-,14.8,2.6,NaN
3,2018,4,NaN,NaN,NaN,Jun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,NaN,NaN,Jun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/7.html'
dfs = pd.read_html(url,header=0)
df6 = pd.concat(dfs)

df6 = df6.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df6.rename(columns={"July": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Jul','Year':'2018'}
df6 = df6.fillna(value=values)

df6 = df6[:31]
df6.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,68,NaN,Jul,0,NaN,997.2,NaN,32.6,36.2,NaN,29,11.9,-,22.2,1.9,NaN
1,2018,2,NaN,66,NaN,Jul,22.1,o,995.6,NaN,31.2,37.4,o,24.4,12,-,24.1,2.9,NaN
2,2018,3,NaN,70,NaN,Jul,0,NaN,995.7,NaN,32.1,37.8,NaN,23.6,6.3,-,13,2.3,NaN
3,2018,4,NaN,NaN,NaN,Jul,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,NaN,NaN,Jul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/8.html'
dfs = pd.read_html(url,header=0)
df7 = pd.concat(dfs)

df7 = df7.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df7.rename(columns={"August": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Aug','Year':'2018'}
df7 = df7.fillna(value=values)

df7 = df7[:31]
df7.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Month,Day,FG,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,Aug,1,NaN,71,NaN,0.51,NaN,997,NaN,31.5,35,NaN,26,5,-,14.8,2.7,NaN
1,2018,Aug,2,NaN,67,NaN,0,NaN,998.3,NaN,32.1,35.6,NaN,28.2,13,-,22.2,2.3,NaN
2,2018,Aug,3,NaN,68,NaN,0,NaN,998.6,NaN,31.5,35.8,NaN,28.2,11.7,-,22.2,2.3,NaN
3,2018,Aug,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,Aug,5,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/9.html'
dfs = pd.read_html(url,header=0)
df8 = pd.concat(dfs)

df8 = df8.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df8.rename(columns={"September": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Sep','Year':'2018'}
df8 = df8.fillna(value=values)

df8 = df8[:30]
df8.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,PP,RA,SLP,SN,Month,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,93,NaN,24.89,o,1002.6,NaN,Sep,27.1,34,o,23.5,4.8,-,16.5,1.8,NaN
1,2018,2,NaN,92,NaN,24.89,o,1002.3,NaN,Sep,26.7,29.4,NaN,25,4.6,-,11.1,1.9,NaN
2,2018,3,NaN,95,NaN,36.07,o,1002.4,NaN,Sep,26.7,29,NaN,25.6,0.4,-,3.5,1.6,NaN
3,2018,4,NaN,NaN,NaN,NaN,o,NaN,NaN,Sep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,NaN,NaN,NaN,o,NaN,NaN,Sep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/10.html'
dfs = pd.read_html(url,header=0)
df9 = pd.concat(dfs)

df9 = df9.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df9.rename(columns={"October": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Oct','Year':'2018'}
df9 = df9.fillna(value=values)

df9 = df9[:31]
df9.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,66,NaN,Oct,0,NaN,1008.4,NaN,28.2,34.8,NaN,22.2,2.6,-,9.4,2.7,NaN
1,2018,2,NaN,63,NaN,Oct,0,NaN,1008.8,NaN,28.7,35.2,NaN,22.5,0.4,-,3.5,2.6,NaN
2,2018,3,NaN,59,NaN,Oct,0,NaN,1008.5,NaN,28.8,35.6,NaN,22.5,0.4,-,3.5,2.6,NaN
3,2018,4,NaN,NaN,NaN,Oct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,NaN,NaN,Oct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/11.html'
dfs = pd.read_html(url,header=0)
df10 = pd.concat(dfs)

df10 = df10.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df10.rename(columns={"November": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Nov','Year':'2018'}
df10 = df10.fillna(value=values)

df10 = df10[:30]
df10.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,NaN,65,NaN,Nov,0,NaN,1014.3,NaN,24.1,31.1,NaN,16,5,-,14.4,1.6,NaN
1,2018,2,NaN,63,NaN,Nov,0,NaN,1012.1,NaN,24.6,32,NaN,16,4.1,-,7.6,1.6,NaN
2,2018,3,NaN,63,NaN,Nov,0.25,NaN,1011.7,NaN,25.2,31.6,NaN,18.5,9.4,-,14.8,1.9,NaN
3,2018,4,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2018/12.html'
dfs = pd.read_html(url,header=0)
df11 = pd.concat(dfs)

df11 = df11.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df11.rename(columns={"December": "Month","2018":"Year"},inplace=True)

values = {'Month': 'Dec','Year':'2018'}
df11 = df11.fillna(value=values)

df11 = df11[:31]
df11.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,Month,FG,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2018,1,Dec,NaN,60,NaN,0,NaN,-,NaN,19.6,26.4,NaN,10.8,5.4,-,14.8,2.6,NaN
1,2018,2,Dec,NaN,56,NaN,0,NaN,1014.6,NaN,19.6,28,NaN,9,2.4,-,11.1,2.4,NaN
2,2018,3,Dec,NaN,58,NaN,0,NaN,1016.7,NaN,18.9,28.1,NaN,8.6,3.5,-,9.4,1.9,NaN
3,2018,4,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,5,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
result = df.append([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])

result.head(60)

,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather,Year
0,1,o,88,NaN,Jan,0,NaN,1014.5,NaN,12.2,23.9,NaN,5.7,0.7,-,5.4,0.3,NaN,2018
1,2,o,89,NaN,Jan,0,NaN,1015.3,NaN,11.8,20.1,NaN,8.4,2.8,-,9.4,0.3,NaN,2018
2,3,o,85,NaN,Jan,0,NaN,1015.6,NaN,11.3,18.2,NaN,6.7,3.5,-,9.4,0.6,NaN,2018
3,4,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
4,5,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
5,6,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
6,7,o,69,NaN,Jan,0,NaN,1015.2,NaN,13.2,20.8,NaN,6.4,8.5,-,14.8,1.4,NaN,2018
7,8,NaN,72,NaN,Jan,0,NaN,1017.6,NaN,12.1,20.7,NaN,5,3.9,-,11.1,1.4,NaN,2018
8,9,o,75,NaN,Jan,0,NaN,1019.1,NaN,12.2,21.7,NaN,4.2,5.7,-,18.3,1.4,NaN,2018
9,10,NaN,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
10,11,NaN,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
11,12,NaN,NaN,NaN,Jan,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
12,13,o,68,NaN,Jan,0,NaN,1016.1,NaN,13.6,23.7,NaN,5.5,4.4,-,18.3,1.4,NaN,2018
13,14,NaN,69,NaN,Jan,0,NaN,1016.2,NaN,14,23.7,NaN,5.7,4.8,-,14.8,2.3,NaN,2018
14,15,NaN,70,NaN,Jan,0,NaN,1015.6,NaN,14.7,25,NaN,6.4,9.4,-,24.1,1.4,NaN,2018
15,16,NaN,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
16,17,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
17,18,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
18,19,o,79,NaN,Jan,0,NaN,1016,NaN,15.8,24.2,NaN,9.5,4.6,-,11.1,1,NaN,2018
19,20,o,75,NaN,Jan,0,NaN,1014.9,NaN,14.2,24.9,NaN,8,5,-,13,0.6,NaN,2018
20,21,o,70,NaN,Jan,0,NaN,1014.7,NaN,13.9,25.2,NaN,5,0.4,-,3.5,1.9,NaN,2018
21,22,NaN,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
22,23,NaN,NaN,NaN,Jan,NaN,o,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,2018
23,24,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
24,25,o,90,NaN,Jan,0,NaN,1013.4,NaN,12.5,18.9,NaN,8.8,8.3,-,16.5,0.6,NaN,2018
25,26,o,89,NaN,Jan,0,NaN,1014.1,NaN,12.1,18.4,NaN,7,4.4,-,9.4,0.5,NaN,2018
26,27,o,79,NaN,Jan,0,NaN,1014.4,NaN,13,20.2,NaN,8,4.3,-,9.4,0.6,NaN,2018
27,28,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
28,29,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
29,30,NaN,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
30,31,NaN,69,NaN,Jan,0,NaN,1014.3,NaN,17.2,26.9,NaN,9.9,13,-,25.9,1.4,NaN,2018
0,1,NaN,69,NaN,Feb,0,NaN,1013.9,NaN,18.7,27.2,NaN,11,3,-,13,1.4,NaN,2018
1,2,NaN,69,NaN,Feb,0,NaN,1012.7,NaN,17.7,27.8,NaN,10.5,3.7,-,14.8,1.6,NaN,2018
2,3,NaN,57,NaN,Feb,0,NaN,1015.4,NaN,16,26.5,NaN,9.3,4.4,-,13,1.4,NaN,2018
3,4,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
4,5,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
5,6,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
6,7,NaN,55,NaN,Feb,0,NaN,1014.6,NaN,15,23.6,NaN,8.5,7.4,-,22.2,1.4,NaN,2018
7,8,NaN,61,NaN,Feb,0,NaN,1013.8,NaN,13.9,24.1,NaN,5.5,1.7,-,9.4,1.6,NaN,2018
8,9,NaN,59,NaN,Feb,0,NaN,1014.4,NaN,14.6,24,NaN,6.1,2.2,-,7.6,1.3,NaN,2018
9,10,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
10,11,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
11,12,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
12,13,NaN,75,NaN,Feb,0,NaN,1022.5,NaN,16.4,23.4,NaN,9,5.2,-,14.8,1.6,NaN,2018
13,14,NaN,63,NaN,Feb,0,NaN,1021.6,NaN,16.4,23.5,NaN,10.2,11.1,-,25.9,1.8,NaN,2018
14,15,NaN,66,NaN,Feb,0,NaN,1019.6,NaN,17.5,23.4,NaN,11.6,9.8,-,25.9,2.4,NaN,2018
15,16,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
16,17,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
17,18,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
18,19,NaN,60,NaN,Feb,0,NaN,1013.9,NaN,18.1,26.6,NaN,10,3.3,-,18.3,1.6,NaN,2018
19,20,NaN,62,NaN,Feb,0,NaN,1012.9,NaN,19,28.2,NaN,10.1,4.4,-,14.8,2.1,NaN,2018
20,21,NaN,59,NaN,Feb,0,NaN,1010.5,NaN,21.5,31.2,NaN,12.5,1.5,-,5.4,1.8,NaN,2018
21,22,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
22,23,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
23,24,NaN,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
24,25,NaN,65,NaN,Feb,0,NaN,1015.4,NaN,22.5,31.6,NaN,17,7.4,-,16.5,1.9,NaN,2018
25,26,NaN,64,NaN,Feb,0,NaN,1012.8,NaN,21.1,29.4,NaN,14.5,11.3,-,25.9,2.6,NaN,2018
26,27,NaN,65,NaN,Feb,0,NaN,1012.6,NaN,22.3,29.8,NaN,15.4,6.3,-,24.1,1.9,NaN,2018
27,28,o,NaN,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
0,1,NaN,62,NaN,Mar,0,NaN,1010.8,NaN,21.7,30.7,NaN,14.9,1.7,-,7.6,1.6,NaN,2018

In [16]:
result.to_csv("weather forecast dataset-2018.csv",index = False,header = True)