In [1]:
import pandas as pd
import html5lib

In [2]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/1.html'
dfs = pd.read_html(url,header=0)
df = pd.concat(dfs)

df = df.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df.rename(columns={"January": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Jan','Year':'2015'}
df = df.fillna(value=values)

df = df[:31]
df.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,o,76,NaN,Jan,0,NaN,1017.4,NaN,14.9,21.6,NaN,8.8,0.9,-,7.6,0.8,NaN
1,2015,2,NaN,97,NaN,Jan,5.08,o,1018.1,NaN,14.7,21.6,NaN,10.2,3.1,-,9.4,0.6,NaN
2,2015,3,o,94,NaN,Jan,7.11,o,1017.5,NaN,15,16.8,NaN,13.6,0.9,-,7.6,0.5,NaN
3,2015,4,o,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/2.html'
dfs = pd.read_html(url,header=0)
df1 = pd.concat(dfs)

df1 = df1.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df1.rename(columns={"February": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Feb','Year':'2015'}
df1 = df1.fillna(value=values)

df1 = df1[:28]
df1

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,Month,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,o,Feb,66,NaN,0,NaN,1017.6,NaN,15.1,24,NaN,6.7,5,-,11.1,1.3,NaN
1,2015,2,NaN,Feb,70,NaN,0,NaN,1017.5,NaN,17.3,23.8,NaN,10.4,11.9,-,18.3,1,NaN
2,2015,3,NaN,Feb,75,NaN,0,NaN,1020.7,NaN,16.7,23.8,NaN,13,7.2,-,14.8,0.8,NaN
3,2015,4,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,6,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,7,o,Feb,68,NaN,0,NaN,1016.9,NaN,15.7,25.6,NaN,7.4,1.9,-,7.6,1.4,NaN
7,2015,8,NaN,Feb,66,NaN,0,NaN,1017.5,NaN,16.7,25.6,NaN,9.3,4.4,-,13,1.4,NaN
8,2015,9,NaN,Feb,65,NaN,0,NaN,1019.9,NaN,16.9,25.5,NaN,10.5,5.6,-,22.2,2.3,NaN
9,2015,10,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2015,11,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2015,12,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015,13,o,Feb,61,NaN,0,NaN,1012.8,NaN,17.2,25.5,NaN,9.3,6.7,-,20.6,2.4,NaN
13,2015,14,NaN,Feb,65,NaN,0,NaN,1009.5,NaN,19.3,28.6,NaN,10.6,4.3,-,14.8,2.6,NaN
14,2015,15,o,Feb,73,NaN,0,NaN,1012.8,NaN,18.9,28.6,NaN,11.2,1.5,-,7.6,0.8,NaN
15,2015,16,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,17,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015,18,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2015,19,o,Feb,78,NaN,0,NaN,1012.4,NaN,22.9,29.3,NaN,17,7.6,-,14.8,1.6,NaN
19,2015,20,NaN,Feb,72,NaN,2.03,NaN,1013.7,NaN,22.8,29.3,NaN,18,7.2,-,14.8,1.9,NaN
20,2015,21,NaN,Feb,69,NaN,0,NaN,1014.1,NaN,21.9,29.1,NaN,15.2,11.3,-,18.3,2.3,NaN
21,2015,22,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015,23,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2015,24,o,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2015,25,NaN,Feb,65,NaN,0,NaN,1008.5,NaN,23.2,28.6,NaN,18.4,6.5,-,13,1.4,NaN
25,2015,26,NaN,Feb,42,NaN,0,NaN,1009.8,NaN,20,27.6,NaN,14.5,6.7,-,11.1,1.9,NaN
26,2015,27,NaN,Feb,49,NaN,0,NaN,1013,NaN,19.2,27.6,NaN,11.1,5.7,-,11.1,2.6,NaN
27,2015,28,NaN,Feb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/3.html'
dfs = pd.read_html(url,header=0)
df2 = pd.concat(dfs)

df2 = df2.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df2.rename(columns={"March": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Mar','Year':'2015'}
df2 = df2.fillna(value=values)

df2 = df2[:31]
df2.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,NaN,94,NaN,Mar,7.87,o,1011,NaN,17.3,19,NaN,15.2,14.8,-,24.1,1.8,NaN
1,2015,2,NaN,92,NaN,Mar,56.9,o,1012.6,NaN,17.4,22.1,NaN,14.6,6.7,-,16.5,1.9,NaN
2,2015,3,o,84,NaN,Mar,7.11,NaN,1013.8,NaN,16.1,22.1,NaN,12.8,5.6,-,13,1.8,NaN
3,2015,4,o,NaN,NaN,Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,Mar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/4.html'
dfs = pd.read_html(url,header=0)
df3 = pd.concat(dfs)

df3 = df3.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df3.rename(columns={"April": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Apr','Year':'2015'}
df3 = df3.fillna(value=values)

df3 = df3[:30]
df3.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Month,Day,FG,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,Apr,1,NaN,64,NaN,0,NaN,1007.4,NaN,26.4,32.5,NaN,20.3,2.4,-,9.4,1.9,NaN
1,2015,Apr,2,NaN,53,NaN,-,o,1004.7,NaN,28.7,34.7,o,21,9.4,-,18.3,1.9,NaN
2,2015,Apr,3,NaN,76,NaN,6.1,o,1004.6,NaN,24.4,34.7,o,19,7,-,14.8,3.1,NaN
3,2015,Apr,4,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,Apr,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/5.html'
dfs = pd.read_html(url,header=0)
df4 = pd.concat(dfs)

df4 = df4.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df4.rename(columns={"May": "Month","2015":"Year"},inplace=True)

values = {'Month': 'May','Year':'2015'}
df4 = df4.fillna(value=values)

df4 = df4[:31]
df4.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,NaN,52,NaN,May,-,o,1005.8,NaN,31.2,39.4,NaN,24.2,5.4,-,14.8,2.7,NaN
1,2015,2,NaN,47,NaN,May,0.25,NaN,1006.3,NaN,30.2,37.6,NaN,23.6,4.4,-,11.1,2.6,NaN
2,2015,3,NaN,44,NaN,May,0,NaN,1006.7,NaN,30.9,38.9,NaN,21.7,3,-,11.1,2.7,NaN
3,2015,4,NaN,NaN,NaN,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/6.html'
dfs = pd.read_html(url,header=0)
df5 = pd.concat(dfs)

df5.head()

df5 = df5.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df5.rename(columns={"June": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Jun','Year':'2015'}
df5 = df5.fillna(value=values)

df5 = df5[:30]
df5.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,NaN,47,NaN,Jun,0,o,1002.2,NaN,30.1,40.6,NaN,23.5,14.3,-,29.4,1.9,NaN
1,2015,2,NaN,46,NaN,Jun,3.05,o,1003.4,NaN,31.6,39.9,o,22.2,8.5,-,20.6,1.9,NaN
2,2015,3,NaN,59,NaN,Jun,0.51,NaN,1004.3,NaN,28.7,34.1,NaN,23.6,6.7,-,11.1,1.9,NaN
3,2015,4,NaN,NaN,NaN,Jun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,Jun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/7.html'
dfs = pd.read_html(url,header=0)
df6 = pd.concat(dfs)

df6 = df6.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df6.rename(columns={"July": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Jul','Year':'2015'}
df6 = df6.fillna(value=values)

df6 = df6[:31]
df6.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,NaN,61,NaN,Jul,0,NaN,1001.8,NaN,31.9,37.8,NaN,25,4.3,-,9.4,1.9,NaN
1,2015,2,NaN,54,NaN,Jul,0,NaN,1001.1,NaN,33.8,38.9,o,27,7,-,13,1.9,NaN
2,2015,3,NaN,54,NaN,Jul,0,NaN,999.7,NaN,33.4,39.8,NaN,27.6,13,-,25.9,1.9,NaN
3,2015,4,NaN,NaN,NaN,Jul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,Jul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/8.html'
dfs = pd.read_html(url,header=0)
df7 = pd.concat(dfs)

df7 = df7.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df7.rename(columns={"August": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Aug','Year':'2015'}
df7 = df7.fillna(value=values)

df7 = df7[:31]
df7.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Month,Day,FG,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,Aug,1,NaN,77,NaN,2.03,NaN,1002.7,NaN,28.4,32.6,NaN,25.4,0.9,-,7.6,1.9,NaN
1,2015,Aug,2,NaN,75,NaN,0.25,NaN,1003.5,NaN,29.8,33.9,NaN,25,2.6,-,7.6,1.9,NaN
2,2015,Aug,3,NaN,63,NaN,0,NaN,1001.9,NaN,31.6,35.5,NaN,25.4,5.4,-,11.1,1.9,NaN
3,2015,Aug,4,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,Aug,5,NaN,NaN,NaN,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/9.html'
dfs = pd.read_html(url,header=0)
df8 = pd.concat(dfs)

df8 = df8.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df8.rename(columns={"September": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Sep','Year':'2015'}
df8 = df8.fillna(value=values)

df8 = df8[:30]
df8.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,PP,RA,SLP,SN,Month,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,NaN,56,NaN,0,NaN,1000.8,NaN,Sep,32.1,36.6,NaN,28,15.4,-,25.9,1.9,NaN
1,2015,2,NaN,54,NaN,0,NaN,1001.7,NaN,Sep,31.9,36.6,NaN,27.5,12.8,-,24.1,1.9,NaN
2,2015,3,NaN,56,NaN,0,NaN,1005.5,NaN,Sep,31.4,36.5,NaN,27.6,11.7,-,25.9,1.9,NaN
3,2015,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/10.html'
dfs = pd.read_html(url,header=0)
df9 = pd.concat(dfs)

df9 = df9.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df9.rename(columns={"October": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Oct','Year':'2015'}
df9 = df9.fillna(value=values)

df9 = df9[:31]
df9.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,NaN,56,NaN,Oct,0,NaN,1011.8,NaN,28.1,35.3,NaN,21.5,5.6,-,13,2.6,NaN
1,2015,2,NaN,57,NaN,Oct,0,NaN,1011.1,NaN,28.3,35.5,NaN,20.6,5,-,-,3.2,NaN
2,2015,3,NaN,58,NaN,Oct,0,NaN,1007.8,NaN,30.1,36.1,NaN,23.7,5.7,-,-,3.1,NaN
3,2015,4,NaN,NaN,NaN,Oct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,Oct,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/11.html'
dfs = pd.read_html(url,header=0)
df10 = pd.concat(dfs)

df10 = df10.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df10.rename(columns={"November": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Nov','Year':'2015'}
df10 = df10.fillna(value=values)

df10 = df10[:30]
df10.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,o,73,NaN,Nov,0,NaN,1016.1,NaN,22.9,31.4,NaN,16.2,0.9,-,3.5,1.4,NaN
1,2015,2,NaN,75,NaN,Nov,0,NaN,1015.8,NaN,23.4,31.8,NaN,17.3,0.4,-,3.5,1.6,NaN
2,2015,3,NaN,73,NaN,Nov,0,NaN,1014.2,NaN,23.9,31.8,NaN,18.6,0.4,-,1.9,1.8,NaN
3,2015,4,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,NaN,NaN,NaN,Nov,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
url = 'file:///D:/excercises%20python/Projects/tutiempo-climate/2015/12.html'
dfs = pd.read_html(url,header=0)
df11 = pd.concat(dfs)

df11 = df11.drop(columns=['Asia','Average Temperature (Â°C)','Climate','Climate New Delhi / Safdarjung'])

df11.rename(columns={"December": "Month","2015":"Year"},inplace=True)

values = {'Month': 'Dec','Year':'2015'}
df11 = df11.fillna(value=values)

df11 = df11[:31]
df11.head()

C:\Users\vishn\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Year,Day,Month,FG,H,India,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather
0,2015,1,Dec,o,81,NaN,0,NaN,1014.7,NaN,19.3,28,NaN,13.8,1.7,-,7.6,0.6,NaN
1,2015,2,Dec,o,75,NaN,0,NaN,1016.2,NaN,17.9,26.2,NaN,13.5,2,-,11.1,0.8,NaN
2,2015,3,Dec,o,75,NaN,0,NaN,1016.1,NaN,17.6,24.6,NaN,11.2,7,-,18.3,0.8,NaN
3,2015,4,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,5,Dec,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
result = df.append([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])

result.tail(60)

C:\Users\vishn\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,Day,FG,H,India,Month,PP,RA,SLP,SN,T,TM,TS,Tm,V,VG,VM,VV,Weather,Year
1,2,NaN,75,NaN,Nov,0,NaN,1015.8,NaN,23.4,31.8,NaN,17.3,0.4,-,3.5,1.6,NaN,2015
2,3,NaN,73,NaN,Nov,0,NaN,1014.2,NaN,23.9,31.8,NaN,18.6,0.4,-,1.9,1.8,NaN,2015
3,4,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
4,5,NaN,NaN,NaN,Nov,NaN,o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
5,6,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
6,7,o,79,NaN,Nov,0,NaN,1014.8,NaN,21.9,30.2,NaN,16.1,1.1,-,7.6,0.5,NaN,2015
7,8,o,75,NaN,Nov,0,NaN,1016,NaN,21.9,29,NaN,17.1,1.9,-,5.4,1.1,NaN,2015
8,9,NaN,77,NaN,Nov,0,NaN,1015,NaN,22.1,29.8,NaN,16.1,0.7,-,3.5,1.3,NaN,2015
9,10,o,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
10,11,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
11,12,o,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
12,13,NaN,64,NaN,Nov,0,NaN,1014.9,NaN,22.3,29.3,NaN,16.1,5.4,-,18.3,0.8,NaN,2015
13,14,NaN,65,NaN,Nov,0,NaN,1012,NaN,22.4,29.8,NaN,16.5,3.5,-,13,1.1,NaN,2015
14,15,NaN,66,NaN,Nov,0,NaN,1011.9,NaN,22.6,32,NaN,15,0,-,-,1.6,NaN,2015
15,16,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
16,17,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
17,18,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
18,19,NaN,68,NaN,Nov,0,NaN,1017.6,NaN,18.5,27.7,NaN,11.5,0.9,-,7.6,1.3,NaN,2015
19,20,o,69,NaN,Nov,0,NaN,1016.4,NaN,18.6,27.7,NaN,11.4,0.4,-,3.5,1.1,NaN,2015
20,21,o,69,NaN,Nov,0,NaN,1015.4,NaN,18.8,28.5,NaN,11.5,1.3,-,3.5,0.8,NaN,2015
21,22,o,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
22,23,NaN,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
23,24,o,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
24,25,NaN,61,NaN,Nov,0,NaN,1014.7,NaN,19.3,28,NaN,13,5.7,-,18.3,1.9,NaN,2015
25,26,NaN,64,NaN,Nov,0,NaN,1012.6,NaN,20,29.1,NaN,11.9,0.9,-,7.6,1.4,NaN,2015
26,27,NaN,71,NaN,Nov,0,NaN,1011.4,NaN,18.4,29.1,NaN,13.5,2.6,-,7.6,1.3,NaN,2015
27,28,o,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
28,29,o,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
29,30,o,NaN,NaN,Nov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
0,1,o,81,NaN,Dec,0,NaN,1014.7,NaN,19.3,28,NaN,13.8,1.7,-,7.6,0.6,NaN,2015
1,2,o,75,NaN,Dec,0,NaN,1016.2,NaN,17.9,26.2,NaN,13.5,2,-,11.1,0.8,NaN,2015
2,3,o,75,NaN,Dec,0,NaN,1016.1,NaN,17.6,24.6,NaN,11.2,7,-,18.3,0.8,NaN,2015
3,4,NaN,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
4,5,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
5,6,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
6,7,o,79,NaN,Dec,0,NaN,1017.1,NaN,17.8,26.2,NaN,11,2,-,7.6,0.6,NaN,2015
7,8,o,68,NaN,Dec,0,NaN,1015.8,NaN,20.2,27,NaN,12,1.3,-,5.4,1,NaN,2015
8,9,o,78,NaN,Dec,0,o,1015.4,NaN,19.2,26.9,NaN,11.6,4.8,-,14.8,1,NaN,2015
9,10,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
10,11,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
11,12,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
12,13,NaN,63,NaN,Dec,0,NaN,1016.4,NaN,14.8,21,NaN,6.8,5.4,-,13,2.4,NaN,2015
13,14,NaN,59,NaN,Dec,0,NaN,1017.1,NaN,14.6,21.3,NaN,6,8.1,-,14.8,2.6,NaN,2015
14,15,NaN,60,NaN,Dec,0,NaN,1016.5,NaN,15.2,22.2,NaN,7,7,-,14.8,2.4,NaN,2015
15,16,NaN,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
16,17,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
17,18,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
18,19,o,65,NaN,Dec,0,NaN,1019.1,NaN,14.4,21.1,NaN,6.8,5.6,-,13,1.6,NaN,2015
19,20,o,68,NaN,Dec,0,NaN,1018.9,NaN,12.6,21,NaN,0,2.6,-,9.4,1.4,NaN,2015
20,21,o,71,NaN,Dec,0,NaN,1018.8,NaN,13.7,21,NaN,5.6,1.5,-,7.6,1.3,NaN,2015
21,22,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
22,23,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
23,24,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
24,25,NaN,62,NaN,Dec,0,NaN,1021.9,NaN,13.3,19.3,NaN,5.5,7.8,-,14.8,1.9,NaN,2015
25,26,o,60,NaN,Dec,0,NaN,1021,NaN,14.4,21.5,NaN,5.5,8.9,-,18.3,1.8,NaN,2015
26,27,NaN,64,NaN,Dec,0,NaN,1020.6,NaN,16.3,22.5,NaN,7.6,8.1,-,14.8,1.4,NaN,2015
27,28,NaN,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
28,29,NaN,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
29,30,o,NaN,NaN,Dec,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
30,31,-,-,NaN,Dec,-,-,-,-,-,-,-,-,-,-,-,-,NaN,2015

In [15]:
result.to_csv("weather forecast dataset-2015.csv",index = False,header = True)